# Virtual environment
unset PS1
source .venv.env/bin/activate>/dev/null 2>&1

# Flask
export FLASK_APP=app:create_app
export FLASK_ENV=development
export FLASK_DEBUG=1

# Database
export DATABASE_URL=postgresql+psycopg2://kemal:kemalpass@127.0.0.1:5432/kemaldb
